<a href="https://colab.research.google.com/github/Leighton25/lrogers_ICA7/blob/main/ICA7_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
library(googledrive)
library(readr)

drive_auth(use_oob = TRUE, cache = TRUE)

file <- drive_find("boxoffice.csv")
drive_download(file$id, path = "local_file.csv", overwrite = TRUE)
boxoffice <- read.csv("local_file.csv")

head(boxoffice)

star_wars_amount <- boxoffice[boxoffice$title_short == "Star Wars", "amount"]

print(star_wars_amount)

The googledrive package is requesting access to your Google account.
Enter '1' to start a new auth process or select a pre-authorized account.
1: Send me to the browser for a new auth process.
2: leightn@umich.edu

Selection: 2

File downloaded:

• boxoffice.csv <id: 1Dlxsu88Nm-tb1aqfrGEERg4iET3VIXDp>

Saved locally as:

• local_file.csv

  rank title                          title_short      amount   amount_text
1 1    Star Wars: The Last Jedi       Star Wars        71565498 $71
2 2    Jumanji: Welcome to the Jungle Jumanji          36169328 $36
3 3    Pitch Perfect 3                Pitch Perfect 3  19928525 $19
4 4    The Greatest Showman           Greatest Showman  8805843 $8
5 5    Ferdinand                      Ferdinand         7316746 $7

[1] 71565498